/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*fin de reset*/
/*header*/
.navbar {
  background-color: rgba(255, 115, 0, 0.514); }
  .navbar .header__font {
    font-size: 2rem;
    color: black;
    margin: 0 2rem; }
  .navbar .header__font:hover {
    color: coral; }
  .navbar .header__icon {
    font-size: 3rem;
    font-family: 'Public Sans', sans-serif;
    padding-left: 1rem; }
  .navbar .header__div {
    flex-grow: 0; }

/*fin de header*/
/*main*/
.main {
  background-color: antiquewhite; }
  .main .carousel__slider {
    background-color: black !important; }
  .main .carousel__img {
    height: 45rem;
    object-fit: cover;
    position: relative; }
  .main .carousel__span {
    position: absolute;
    font-size: 3rem; }
  .main .carousel__span--1 {
    bottom: 20rem;
    padding: 1rem;
    left: 5rem; }
  .main .carousel__span--2 {
    bottom: 15rem;
    padding: 1rem;
    left: 5rem; }
  .main .carousel__btn {
    position: absolute;
    bottom: 12rem;
    left: 6rem;
    height: 3.5rem;
    width: 17rem;
    font-size: 1.7rem; }
  .main .carousel__arrow {
    width: 6%; }
  .main .infocard {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem; }
    .main .infocard__h3 {
      padding: 1rem;
      font-size: 2rem; }
    .main .infocard__map {
      padding-left: 1.5rem; }
    .main .infocard__img {
      height: 100%;
      width: 95%;
      object-fit: cover;
      overflow: hidden; }
    .main .infocard__p {
      font-size: 1.5rem;
      padding: 1rem; }
  .main .infocard:hover {
    background-color: rgba(255, 115, 0, 0.514); }

/*fin de main*/
/*footer*/
.footer__container {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(255, 115, 0, 0.514); }
  .footer__container__title {
    font-size: 3rem;
    display: block;
    margin-bottom: 1.5rem; }
  .footer__container .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 33%;
    justify-content: space-between; }
    .footer__container .social__img1 {
      height: 7rem;
      width: 7rem; }
    .footer__container .social__img2 {
      height: 5rem;
      width: 5rem;
      margin-bottom: 1rem; }
  .footer__container .newsletter {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
    margin-top: 2rem; }
    .footer__container .newsletter__p {
      width: 80%;
      font-size: 1.3rem;
      margin-top: 1rem; }
    .footer__container .newsletter__form {
      width: 100%; }
    .footer__container .newsletter__input {
      width: 80%;
      text-align: center;
      display: block;
      margin: 1rem auto; }
    .footer__container .newsletter__input2 {
      font-size: larger;
      width: 80%;
      text-align: center;
      display: block;
      margin: 2rem auto; }
  .footer__container .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 33%; }
    .footer__container .menu__list {
      list-style: none; }
    .footer__container .menu__item {
      margin-bottom: 1.2rem;
      margin-top: .5rem; }
    .footer__container .menu__anchor {
      text-decoration: none;
      font-size: 1.5rem;
      color: black; }
    .footer__container .menu__anchor:hover {
      color: coral; }

/*fin de footer*/
/*contacto*/
.contact__container {
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .contact__container .contact {
    height: 20rem; }
    .contact__container .contact__h1 {
      text-align: center;
      font-size: 3rem;
      margin-bottom: 2rem;
      margin-top: 2rem; }
    .contact__container .contact__p {
      text-align: center;
      font-size: 1.5rem; }
    .contact__container .contact__p2 {
      text-align: center;
      font-size: 1.5rem; }
  .contact__container .form__container {
    height: 40rem;
    margin-bottom: 1rem; }
    .contact__container .form__container__btn {
      height: 3rem;
      width: 10rem; }
    .contact__container .form__container__label {
      font-size: 2rem; }

/*fin de contacto*/
/*lentes de contacto*/
.models__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60vh repeat(3, 50vh);
  grid-template-areas: "titulo titulo titulo" "img1 img2 img3" "img4 img5 img6" "img7 img8 img9";
  background-color: antiquewhite; }

.models__title {
  grid-area: titulo;
  display: flex;
  justify-content: center;
  align-items: center; }
  .models__title .models__banner {
    object-fit: cover;
    height: 100%;
    width: 100%; }

.models__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  margin: 1rem;
  border-radius: 10px;
  padding: 1rem; }

.models__img1 {
  grid-area: img1;
  width: 82%;
  height: 100%;
  object-fit: cover; }

.models__img2 {
  grid-area: img2;
  width: 82%;
  height: 100%;
  object-fit: cover; }

.models__img3 {
  grid-area: img3;
  width: 82%;
  height: 100%;
  object-fit: cover; }

.models__img4 {
  grid-area: img4;
  width: 82%;
  height: 100%;
  object-fit: cover; }

.models__img5 {
  grid-area: img5;
  width: 82%;
  height: 100%;
  object-fit: cover; }

.models__img6 {
  grid-area: img6;
  width: 82%;
  height: 100%;
  object-fit: cover; }

.models__img7 {
  grid-area: img7;
  width: 82%;
  height: 100%;
  object-fit: cover; }

.models__img8 {
  grid-area: img8;
  width: 82%;
  height: 100%;
  object-fit: cover; }

.models__img9 {
  grid-area: img9;
  width: 82%;
  height: 100%;
  object-fit: cover; }

/*lentes de vista*/
.lentes__img1 {
  width: 50%;
  height: 30%; }

.lentes__img2 {
  width: 50%;
  height: 30%; }

.lentes__img3 {
  width: 50%;
  height: 30%; }

.lentes__img4 {
  width: 50%;
  height: 30%; }

.lentes__img5 {
  width: 50%;
  height: 30%; }

.lentes__img6 {
  width: 50%;
  height: 30%; }

.lentes__img7 {
  width: 50%;
  height: 30%; }

.lentes__img8 {
  width: 50%;
  height: 30%; }

.lentes__img9 {
  width: 50%;
  height: 30%; }

.margin--vista {
  margin-bottom: 3rem; }

/*fin de lentes de vista*/
@media screen and (max-width: 1024px) {
  /*index*/
  /*header*/
  .navbar .header__icon {
    font-size: 2rem; }
  .navbar .header__font {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0 0.5rem; }
  /*fin de header*/
  /*main*/
  .main {
    /*section carousel*/
    /*fin de section carousel*/
    /*section infocard*/
    /*fin de section infocard*/ }
    .main .carousel__img {
      height: 50rem; }
    .main .carousel__arrow {
      width: 15%; }
    .main .carousel__span {
      visibility: hidden; }
    .main .carousel__span--1 {
      visibility: hidden; }
    .main .carousel__span--2 {
      visibility: hidden; }
    .main .carousel__btn {
      visibility: hidden; }
    .main .infocard__container {
      padding: 1rem 2rem; }
      .main .infocard__container .infocard {
        margin-bottom: 0; }
        .main .infocard__container .infocard__h3 {
          font-size: 2rem;
          padding: 0;
          margin-bottom: 1.5rem; }
        .main .infocard__container .infocard__img {
          height: 15rem;
          width: 100%;
          object-fit: cover; }
        .main .infocard__container .infocard__p {
          font-size: 1.5rem; }
        .main .infocard__container .infocard__map {
          padding: 0; }
  /*fin de main*/
  /*footer*/
  .footer__container .footer__title {
    font-size: xx-large; }
  .footer__container .social {
    margin-top: .7rem; }
    .footer__container .social__img1 {
      height: 5rem;
      width: 5rem; }
    .footer__container .social__img2 {
      height: 4rem;
      width: 4rem;
      margin-bottom: 3rem; }
  .footer__container .newsletter {
    margin-top: .7rem; }
    .footer__container .newsletter__p {
      font-size: 1.2rem;
      padding: 0rem .5rem; }
    .footer__container .newsletter__form {
      height: 7rem; }
    .footer__container .newsletter__input {
      font-size: larger; }
  .footer__container .menu {
    margin-top: .7rem; }
    .footer__container .menu__nav {
      width: 100%; }
    .footer__container .menu__item {
      margin-bottom: 1.8rem; }
    .footer__container .menu__anchor {
      font-size: 1.5rem; }
  /*fin de footer*/
  /*fin de index*/
  /*contacto*/
  .contact__container .contact__p {
    font-size: 2rem; }
  .contact__container .contact__p2 {
    font-size: 2rem; }
  .form-label {
    font-size: 1.5rem; }
  /*fin de contacto*/
  /*lentes de contacto*/
  .models__container {
    padding: 0; }
  .models__img1 {
    grid-area: img1;
    width: 85%;
    height: 60%;
    object-fit: cover; }
  .models__img2 {
    grid-area: img2;
    width: 85%;
    height: 60%;
    object-fit: cover; }
  .models__img3 {
    grid-area: img3;
    width: 85%;
    height: 60%;
    object-fit: cover; }
  .models__img4 {
    grid-area: img4;
    width: 85%;
    height: 60%;
    object-fit: cover; }
  .models__img5 {
    grid-area: img5;
    width: 85%;
    height: 60%;
    object-fit: cover; }
  .models__img6 {
    grid-area: img6;
    width: 85%;
    height: 60%;
    object-fit: cover; }
  .models__img7 {
    grid-area: img7;
    width: 85%;
    height: 60%;
    object-fit: cover; }
  .models__img8 {
    grid-area: img8;
    width: 85%;
    height: 60%;
    object-fit: cover; }
  .models__img9 {
    grid-area: img9;
    width: 85%;
    height: 60%;
    object-fit: cover; }
  /*fin de lentes de contacto*/
  /*sol y vista*/
  .lentes__img1 {
    width: 70%; }
  .lentes__img2 {
    width: 70%; }
  .lentes__img3 {
    width: 70%; }
  .lentes__img4 {
    width: 70%; }
  .lentes__img5 {
    width: 70%; }
  .lentes__img6 {
    width: 70%; }
  .lentes__img7 {
    width: 70%; }
  .lentes__img8 {
    width: 70%; }
  .lentes__img9 {
    width: 70%; }
  /*fin de sol y vista*/ }

@media screen and (max-width: 768px) {
  /*index*/
  /*main*/
  .main {
    /*section carousel*/
    /*fin de section carousel*/
    /*section infocard*/
    /*fin de section infocard*/ }
    .main .carousel__img {
      height: 30rem;
      object-fit: cover; }
    .main .carousel__arrow {
      width: 20%; }
    .main .infocard__container .infocard__img {
      height: 20rem; }
    .main .infocard__container .infocard__map {
      height: 20rem;
      padding-left: 1.5rem; }
  /*fin de main*/
  /*footer*/
  .footer__container {
    height: 26rem; }
    .footer__container .footer__title {
      font-size: 1.5rem;
      margin-bottom: 1.5rem; }
    .footer__container .social {
      margin-top: 2rem; }
      .footer__container .social__img1 {
        height: 7rem;
        width: 7rem; }
      .footer__container .social__img2 {
        height: 5rem;
        width: 5rem; }
    .footer__container .newsletter {
      margin-top: 2rem; }
      .footer__container .newsletter__input {
        font-size: .9rem; }
    .footer__container .menu {
      margin-top: 2rem; }
      .footer__container .menu__item {
        margin-bottom: 2.8rem; }
  /*fin de footer*/
  /*fin de index*/
  /*contacto*/
  .contact__container .contact__h1 {
    padding: 1rem;
    margin-bottom: 1rem !important;
    margin-top: 1rem !important; }
  .contact__container .contact__p {
    font-size: 2rem; }
  .contact__container .contact__p2 {
    font-size: 2rem; }
  .form-label {
    font-size: 1.5rem; }
  /*fin de contacto*/
  /*lentes de contacto*/
  .models__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40vh repeat(4, 1fr);
    grid-template-areas: "titulo titulo" "img1 img2" "img3 img4" "img5 img6" "img7 img8" "img9 img9"; }
  .container--9 {
    grid-column: span 2;
    width: 80%;
    height: 80%;
    margin-left: 5rem; }
  /*fin de lentes de contacto*/
  /*sol y vista*/
  .lentes__img1 {
    height: 100%; }
  .lentes__img2 {
    height: 100%; }
  .lentes__img3 {
    height: 100%; }
  .lentes__img4 {
    height: 100%; }
  .lentes__img5 {
    height: 100%; }
  .lentes__img6 {
    height: 100%; }
  .lentes__img7 {
    height: 100%; }
  .lentes__img8 {
    height: 100%; }
  .lentes__img9 {
    height: 100%; }
  .margin--vista {
    margin-bottom: 0; }
  .container--9-s {
    margin-bottom: 3rem; }
  /*fin de sol y vista*/ }

@media screen and (max-width: 425px) {
  /*index*/
  /*main*/
  .main {
    /*section carousel*/
    /*fin de section carousel*/
    /*section infocard*/
    /*fin de section infocard*/ }
    .main .carousel .p-5 {
      padding: 0 !important; }
    .main .carousel__img {
      height: 15rem; }
    .main .infocard__container {
      padding: 0; }
      .main .infocard__container .infocard__h3 {
        font-size: 1.5rem; }
      .main .infocard__container .infocard__img {
        height: 15rem; }
      .main .infocard__container .infocard__p {
        font-size: 1rem; }
      .main .infocard__container .infocard__map {
        height: 15rem;
        padding: 0;
        width: 100%; }
  /*fin de main*/
  /*footer*/
  .footer__container {
    flex-direction: column;
    height: 100%; }
    .footer__container .social {
      margin-top: 1rem;
      width: 100%; }
      .footer__container .social__img1 {
        height: 5rem;
        width: 5rem;
        margin-bottom: 1rem; }
      .footer__container .social__img2 {
        height: 4rem;
        width: 4rem;
        margin-bottom: 0; }
    .footer__container .newsletter {
      width: 100%; }
      .footer__container .newsletter__p {
        font-size: 1rem; }
    .footer__container .menu {
      width: 100%; }
      .footer__container .menu__item {
        margin: 1rem; }
  /*fin de footer*/
  /*fin de index*/
  /*contacto*/
  .contact__container {
    margin-bottom: 1rem;
    height: 50rem;
    align-items: center; }
    .contact__container .contact {
      padding: .5rem; }
      .contact__container .contact__h1 {
        text-align: center;
        font-size: 2.3rem;
        margin-bottom: 1rem; }
      .contact__container .contact__p {
        font-size: 1.3rem; }
      .contact__container .contact__p2 {
        font-size: 1.3rem; }
    .contact__container .form__container {
      margin-top: 2rem;
      width: 90%; }
      .contact__container .form__container .form__label {
        font-size: 1.3rem; }
  /*fin de contacto*/
  /*lentes de contacto*/
  .models__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "titulo" "img1" "img2" "img3" "img4" "img5" "img6" "img7" "img8" "img9"; }
  .models__title {
    height: 18rem; }
  .models__container {
    width: 85%;
    height: 85%;
    margin: auto; }
  .container--9 {
    grid-column: span 1; }
  /*fin de lentes de contacto*/
  /*sol y vista*/
  .lentes__img1 {
    width: 50%;
    height: 30%; }
  .lentes__img2 {
    width: 50%;
    height: 30%; }
  .lentes__img3 {
    width: 50%;
    height: 30%; }
  .lentes__img4 {
    width: 50%;
    height: 30%; }
  .lentes__img5 {
    width: 50%;
    height: 30%; }
  .lentes__img6 {
    width: 50%;
    height: 30%; }
  .lentes__img7 {
    width: 50%;
    height: 30%; }
  .lentes__img8 {
    width: 50%;
    height: 30%; }
  .lentes__img9 {
    width: 50%;
    height: 30%; }
  .container--9-s {
    height: 16rem;
    margin-bottom: 2rem; }
  /*fin de sol y vista*/ }
