* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__background {
  background-color: #FFB77C; }

.header__a {
  font-size: 1.5em;
  margin: 0 .5rem;
  color: black;
  font-family: "Montserrat", sans-serif; }

.header__a:hover {
  color: coral; }

.header__icon {
  font-size: 2em;
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  padding-left: 1rem; }

.header__navbar {
  flex-grow: 0; }

.main {
  background-color: antiquewhite; }
  .main .carousel__img {
    height: 100vh;
    object-fit: cover; }
  .main .carousel__card {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20rem;
    bottom: 10rem;
    left: 7rem;
    background-color: #f1b17c;
    border-radius: 10px;
    padding: 2rem;
    overflow: hidden;
    opacity: .9; }
  .main .carousel__span {
    font-size: 2.5em;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 400; }
  .main .carousel__btn {
    height: 3rem;
    width: 15rem;
    font-family: "Montserrat", sans-serif; }
  .main .carousel__arrow {
    width: 6%; }
  .main .infocard {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    overflow: hidden; }
    .main .infocard__h3 {
      padding: 1rem;
      font-family: "Montserrat", sans-serif; }
    .main .infocard__map {
      padding-left: 1.5rem; }
    .main .infocard__img {
      height: 100%;
      width: 95%;
      object-fit: cover;
      overflow: hidden; }
    .main .infocard__p {
      font-family: "Montserrat", sans-serif;
      font-size: 1.3em;
      padding: 1rem 0 1rem 0; }
    .main .infocard__form {
      height: 100%;
      align-items: center;
      justify-content: space-evenly;
      display: flex;
      flex-direction: column; }
    .main .infocard__input {
      width: 80%;
      height: 3rem;
      text-align: center; }
  .main .infocard:hover {
    background-color: rgba(255, 115, 0, 0.514); }

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: rgba(255, 115, 0, 0.514); }

.footer__img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  margin: 0rem 1rem; }

.footer__span {
  font-family: "Montserrat", sans-serif; }

.footer__padding {
  padding: 1rem; }

footer > div {
  padding: 1rem; }

.footer__img:hover {
  transform: translateY(-10px);
  transition: .5s; }

.contact {
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .contact__container {
    height: 20rem; }
  .contact__h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem; }
  .contact__p {
    text-align: center;
    font-size: 1.5rem; }
  .contact__p2 {
    text-align: center;
    font-size: 1.5rem; }
  .contact__form {
    height: 40rem;
    margin-bottom: 1rem; }
  .contact__btn {
    height: 3rem;
    width: 10rem; }
  .contact__label {
    font-size: 1.5em; }

.models__title {
  position: relative;
  overflow: hidden; }

.models__card {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22rem;
  width: 25rem;
  right: 7rem;
  background-color: #f1b17c;
  border-radius: 10px;
  padding: 3rem;
  opacity: .90; }

.models__h2 {
  font-size: 3em; }

.models__p {
  font-size: 1.5em; }

.models__card--vista {
  left: 7rem;
  width: 28rem; }

.models {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 95vh repeat(3, 50vh);
  grid-template-areas: "titulo titulo titulo" "img1 img2 img3" "img4 img5 img6" "img7 img8 img9";
  background-color: antiquewhite; }
  .models__card--contacto {
    left: 7rem;
    width: 35rem; }

.models__title {
  grid-area: titulo;
  display: flex;
  justify-content: center;
  align-items: center; }
  .models__title .models__banner {
    object-fit: cover;
    height: 100%;
    width: 100%; }

.models__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  margin: 1rem;
  border-radius: 10px;
  padding: 1rem;
  overflow: hidden; }

.models__container:hover {
  transform: scale(0.9);
  transition: 1s; }

.models__img1 {
  grid-area: img1;
  width: 82%;
  object-fit: cover; }

.models__img2 {
  grid-area: img2;
  width: 82%;
  object-fit: cover; }

.models__img3 {
  grid-area: img3;
  width: 82%;
  object-fit: cover; }

.models__img4 {
  grid-area: img4;
  width: 82%;
  object-fit: cover; }

.models__img5 {
  grid-area: img5;
  width: 82%;
  object-fit: cover; }

.models__img6 {
  grid-area: img6;
  width: 82%;
  object-fit: cover; }

.models__img7 {
  grid-area: img7;
  width: 82%;
  object-fit: cover; }

.models__img8 {
  grid-area: img8;
  width: 82%;
  object-fit: cover; }

.models__img9 {
  grid-area: img9;
  width: 82%;
  object-fit: cover; }

.models__title {
  overflow: hidden; }

.lentes__img1 {
  width: 50%;
  height: 30%; }

.lentes__img2 {
  width: 50%;
  height: 30%; }

.lentes__img3 {
  width: 50%;
  height: 30%; }

.lentes__img4 {
  width: 50%;
  height: 30%; }

.lentes__img5 {
  width: 50%;
  height: 30%; }

.lentes__img6 {
  width: 50%;
  height: 30%; }

.lentes__img7 {
  width: 50%;
  height: 30%; }

.lentes__img8 {
  width: 50%;
  height: 30%; }

.lentes__img9 {
  width: 50%;
  height: 30%; }

.margin--vista {
  margin-bottom: 3rem; }

/*animaciones*/
.kenburns-top {
  -webkit-animation: kenburns-top 50s ease-out both;
  animation: kenburns-top 50s ease-out both; }

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }

@media screen and (max-width: 1300px) {
  .models {
    grid-template-rows: 90vh repeat(3, 40vh); } }

@media screen and (max-width: 1024px) {
  .header__a {
    font-size: 1.4em;
    margin: 0 .5rem; }
  .main .carousel__img {
    height: 90vh; }
  .main .infocard {
    margin-bottom: 0; }
    .main .infocard__h3 {
      padding: 0;
      margin-bottom: 1.5rem; }
    .main .infocard__p {
      font-size: 1.2em; }
    .main .infocard__map {
      padding: 0; }
  .contact__p {
    font-size: 1.5em; }
  .contact__p2 {
    font-size: 1.5em; }
  .form-label {
    font-size: 1.5em; }
  .lentes__img1 {
    width: 70%; }
  .lentes__img2 {
    width: 70%; }
  .lentes__img3 {
    width: 70%; }
  .lentes__img4 {
    width: 70%; }
  .lentes__img5 {
    width: 70%; }
  .lentes__img6 {
    width: 70%; }
  .lentes__img7 {
    width: 70%; }
  .lentes__img8 {
    width: 70%; }
  .lentes__img9 {
    width: 70%; } }

@media screen and (max-width: 768px) {
  .header__background {
    position: relative; }
  .main .carousel__img {
    height: 30rem;
    object-fit: cover; }
  .main .carousel__card {
    height: 15rem;
    width: 17rem;
    bottom: 5rem;
    left: 5rem;
    padding: 1rem; }
  .main .carousel__span {
    font-size: 1.5em; }
  .main .carousel__btn {
    font-size: 1em; }
  .main .infocard__container .infocard__img {
    height: 20rem; }
  .main .infocard__container .infocard__map {
    height: 20rem;
    padding-left: 1.5rem; }
  .footer__img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    margin: 0rem 1rem; }
  .footer__span {
    font-size: 1em; }
  .form-label {
    font-size: 1.5rem; }
  .contact {
    margin-bottom: 1rem; }
  .models {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40vh repeat(4, 1fr);
    grid-template-areas: "titulo titulo" "img1 img2" "img3 img4" "img5 img6" "img7 img8" "img9 img9"; }
    .models__card {
      height: 12rem;
      width: 20rem;
      right: 4rem;
      bottom: 3rem;
      padding: 1rem; }
    .models__card--vista {
      left: 5rem; }
    .models__card--contacto {
      left: 5rem; }
    .models__h2 {
      font-size: 2em; }
    .models__p {
      font-size: 1.2em; }
  .lentes__img1 {
    height: 100%; }
  .lentes__img2 {
    height: 100%; }
  .lentes__img3 {
    height: 100%; }
  .lentes__img4 {
    height: 100%; }
  .lentes__img5 {
    height: 100%; }
  .lentes__img6 {
    height: 100%; }
  .lentes__img7 {
    height: 100%; }
  .lentes__img8 {
    height: 100%; }
  .lentes__img9 {
    height: 100%; }
  .margin--vista {
    margin-bottom: 0; } }

@media screen and (max-width: 425px) {
  .header__icon {
    padding-left: 0rem; }
  .main .carousel__img {
    height: 30vh; }
  .main .carousel__card {
    visibility: hidden; }
  .main .infocard__container .infocard__h3 {
    font-size: 1.5rem; }
  .main .infocard__container .infocard__img {
    height: 15rem; }
  .main .infocard__container .infocard__p {
    font-size: 1rem; }
  .main .infocard__container .infocard__map {
    height: 15rem;
    padding: 0;
    width: 100%; }
  .contact {
    margin-bottom: 1rem;
    height: 50rem;
    align-items: center; }
    .contact__container {
      padding: .5rem; }
    .contact__h1 {
      text-align: center;
      font-size: 2.3rem;
      margin-bottom: 1rem; }
    .contact__p {
      font-size: 1.3rem; }
    .contact__p2 {
      font-size: 1.3rem; }
    .contact__form {
      margin-top: 2rem;
      width: 90%; }
    .contact__label {
      font-size: 1.3rem; }
  .models {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: "titulo" "img1" "img2" "img3" "img4" "img5" "img6" "img7" "img8" "img9"; }
    .models__card {
      visibility: hidden; }
    .models__title {
      height: 18rem; }
    .models__container {
      width: 85%;
      height: 85%;
      margin: auto; }
  .lentes__img1 {
    width: 50%;
    height: 30%; }
  .lentes__img2 {
    width: 50%;
    height: 30%; }
  .lentes__img3 {
    width: 50%;
    height: 30%; }
  .lentes__img4 {
    width: 50%;
    height: 30%; }
  .lentes__img5 {
    width: 50%;
    height: 30%; }
  .lentes__img6 {
    width: 50%;
    height: 30%; }
  .lentes__img7 {
    width: 50%;
    height: 30%; }
  .lentes__img8 {
    width: 50%;
    height: 30%; }
  .lentes__img9 {
    width: 50%;
    height: 30%; } }
