/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*fin de reset*/

/*index*/

/*header*/

.navbar{
    background-color: rgba(255, 115, 0, 0.514);
}

.header__font{
    font-size: 2rem;
    color: black;
    margin: 0 1rem;
}

.header__icon{
    font-size: 3.5rem;
    font-family: 'Public Sans', sans-serif;
}

.header__div{
    flex-grow: 0;
}

/*fin de header*/
/*main*/

.main{
    background-color: antiquewhite;
}

.carousel__slider{
    background-color: black!important;
}

.carousel__arrow{
    width: 6%;
}

.carousel__img{
    height: 70rem;
    object-fit: cover;
    position: relative;
}

.carousel__span{
    position: absolute;
    font-size: 3rem;
}

.span--1{
    bottom: 20rem;
    padding: 1rem;
    left: 5rem;
}

.span--2{
    bottom: 15rem;
    padding: 1rem;
    left: 5rem;
}

.carousel__btn{
    position: absolute;
    bottom: 12rem;
    left: 6rem;
    height: 3.5rem;
    width: 17rem;
    font-size: 1.7rem;
}

.infocard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.infocard:hover{
    background-color: rgba(255, 115, 0, 0.514);
}

.infocard__h3{
    padding: 1rem;
    font-size: 3rem;
}

.infocard__img{
    height: 100%;
    width: 95%;
    object-fit: cover;
}

.infocard__p{
    font-size: 2rem;
}

/*fin de main*/
/*footer*/

.footer__container{
    display: flex;
    justify-content: space-evenly;
    height: 20rem;
    background-color: rgba(255, 115, 0, 0.514);
}


.footer__title{
    font-size: xx-large;
    display: block;
}

.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 33%;
    justify-content: space-between;
}
.social__img1{
    height: 7rem;
    width: 7rem;  
}

.social__img2{
    height: 5rem;
    width: 5rem;
    margin-bottom: 1rem;

}

.newsletter {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
    margin-top: 2rem;
}


.newsletter__p {
   width: 20rem;
   height: 6rem;
   font-size: 1.2rem;
}

.newsletter__form{
       width: 100%;
       height: 100%;
}

.newsletter__input{
   font-size: larger;
   width: 80%;
   text-align: center;
   display: block;
   margin: auto;
   
}

.newsletter__input2{
    font-size: larger;
    width: 80%;
    text-align: center;
    display: block;
    margin: 2rem auto;
    
 }

.menu {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 2rem;
   width: 33%;
   
}

.menu__anchor{
   text-decoration: none;
   font-size: xx-large;
   color: black;
}

.menu__anchor:hover{
    color: coral;
}
/*fin de footer*/
/*fin de index*/
/*contacto*/

.contact__container {
    height: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form__title {
    height: 30rem;
}

.contact__h1 {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 4rem;
}
.contact__p{
    text-align: center;
    font-size: 3rem;
   
    
}
.contact__p2{
    text-align: center;
    font-size: 3rem;
    
}

.form__container{
  height: 40rem;
  margin-bottom: 1rem;
}

.submit__btn{
    height: 3rem;
    width: 10rem;
}

.form-label{
    font-size: 2rem;
}
/*fin de contacto*/

/*media queries*/

@media screen and (max-width: 1024px){

    /*index*/
    
    .carousel__img{
        height: 50rem;
    }
    
    .header__font{
        font-size: 1.2rem;
        color: black;
        font-weight: 500;
        margin: 0 0.5rem;
    }
    .header__icon{
        font-size: 2rem;
    }

    .carousel__arrow{
        width: 15%;
    }

    .carousel__span{
        visibility: hidden;
     }
 
     .span--1{
        visibility: hidden;
     }
     
     .span--2{
         visibility: hidden;
     }
     
     .carousel__btn{
         visibility: hidden;
     }

     .infocard__h3 {
        font-size: 2.5rem;
        padding: 0;
        margin-bottom: 1.5rem;
    }

    .infocard__img{
        height: 15rem;
        width: 100%;
        object-fit: cover;
    }
    
    .infocard__p{
        font-size: 1.2rem;
        
    }

    .infocard__map{
        height: 15rem;
        width: 80%;
    }

    /*fin de index*/
    /*contacto*/
    .contact__p{
        text-align: center;
        font-size: 2rem;
       
        
    }
    .contact__p2{
        text-align: center;
        font-size: 2rem;
    }

    .form-label{
        font-size: 1.5rem;
    }

    /*fin de contacto*/
}


@media screen and (max-width: 768px){

    /*index*/
    
    .carousel__img{
        height: 30rem;
        object-fit: cover;
    }

    .carousel__arrow{
        width: 20%;
    }

    .carousel__span{
        visibility: hidden;
     }
 
     .span--1{
        visibility: hidden;
     }
     
     .span--2{
         visibility: hidden;
     }
     
     .carousel__btn{
         visibility: hidden;
     }

     .infocard__h3 {
        font-size: 2rem;
        padding: 0;
    }

    .infocard__img{
        height: 20rem;
        width: 100%;
        object-fit: cover;
    }
    
    .infocard__p{
        font-size: 1rem;
        
    }

    .infocard__map{
        height: 20rem;
        width: 80%;
    }

    .footer__container{
        display: flex;
        justify-content: space-evenly;
        height: 25rem;
        background-color: rgba(255, 115, 0, 0.514);
    }
    
    
    .footer__title{
        font-size: 1.5rem;
        display: block;
    }
    
    .social{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        width: 15%;
        justify-content: space-between;
    }
    .social__img1{
        height: 7rem;
        width: 7rem;  
    }
    
    .social__img2{
        height: 5rem;
        width: 5rem;
        margin-bottom: 1rem;
    
    }

    .newsletter {
        display: flex;
        flex-direction: column;
        width: 35%;
        align-items: center;
        margin-top: 2rem;
    }
    
    
    .newsletter__p {
       width: 80%;
       height: 80%;
       font-size: 1.2rem;
    }
    
    .newsletter__form{
           width: 100%;
           height: 100%;
    }
    
    .newsletter__input{
       font-size: larger;
       width: 80%;
       text-align: center;
       display: block;
       margin: auto;
       
    }
    
    .newsletter__input2{
        font-size: larger;
        width: 80%;
        text-align: center;
        display: block;
        margin: 2rem auto;
        
     }

     .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin-top: 2rem;
        width: 35%;
        
     }

     .menu__anchor{
        text-decoration: none;
        font-size: 1.5rem;
        color: black;
     }

     .menu__item{
        height: 5rem;
     }

     /*fin de index*/
     /*contacto*/

     .form__title{
        height: auto;
     }

     .contact__h1 {
        text-align: center;
        font-size: 4rem;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .contact__p{
        text-align: center;
        font-size: 2rem;
       
        
    }
    .contact__p2{
        text-align: center;
        font-size: 2rem;
    }

    .form-label{
        font-size: 1.5rem;
    }

    
     /*fin de contacto*/


}


@media screen and (max-width: 425px){

    /*index*/
    
    .p-5{
        padding: 0!important;
    }


    .carousel__img{
        height: 15rem;
        position: relative;
    }

    .carousel__span{
       visibility: hidden;
    }

    .span--1{
       visibility: hidden;
    }
    
    .span--2{
        visibility: hidden;
    }
    
    .carousel__btn{
        visibility: hidden;
    }

    .infocard{
        margin-bottom: 0rem;
    }

    .infocard__h3 {
        font-size: 2rem;
        padding: 0;
    }

    .infocard__img{
        height: 15rem;
        width: 95%;
        object-fit: cover;
    }
    
    .infocard__p{
        font-size: 1rem;  
        
    }

    .infocard__map{
        height: 15rem;
    }

    .footer__container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        background-color: rgba(255, 115, 0, 0.514);
    }
    
    
    .footer__title{
        font-size: 1.5rem;
        display: block;
    }

    .social{
        position: relative;
        width: 100%;
        height: 20rem;
    }
    
    .newsletter {
        width: 100%;
    }
    
    .newsletter__p {
        font-size: 1rem;
        width: 100%;
        padding: .5rem;
        height: 100%;
    }
     .menu {
        width: 100%;
        height: 80%;
        margin-top: 0;
        flex-direction: column;
        align-items: center;
     }

     .menu__list{
        padding: 0;
        margin: .5rem auto;
     }

     .menu__item{
        margin: 1rem;
     }

     .menu__anchor{
        font-size: 1.5rem;
        color: black;
     }

     /*fin de index*/
     /*contacto*/

     .form__container{
        margin-bottom: 1rem;
        height: 35rem;
     }

     .contact__h1 {
        text-align: center;
        font-size: 2.5rem;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .contact__p{
        font-size: 1.5rem;
        padding: 1rem;
    }
    .contact__p2{
        font-size: 1.5rem;
        padding: 1rem;
    }

    .form-label{
        font-size: 1.5rem;
    }

     /*fin de contacto*/
}

/*fin de media queries*/