.footer{
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 15vh;
        background-color: $orange;
    }

    &__img{
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        margin: 0rem 1rem;
    }

    &__span{
        font-family: $montserrat;
    }

    &__padding{
        padding: 1rem;
    }
}

footer > div {
    padding: 1rem;
}

.footer__img:hover{
    transform: translateY(-10px);
    transition: .5s;
}