@import "./variables";


.header{

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__background{
        background-color: #FFB77C;
    }
    
    &__a{
        font-size: $small;
        margin: 0 .5rem;
        color: $black;
        font-family: $montserrat;
    }
    
    &__a:hover{
        color: $hovercolor;
    }
    
    &__icon{
        font-size: 2em;
        font-family: $serif;
        font-weight: 700;
        padding-left: 1rem;
    }
    
    &__navbar{
      flex-grow: 0;
    }
}
