.models__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60vh repeat(3, 50vh);
    grid-template-areas: "titulo titulo titulo"
                         "img1 img2 img3"
                         "img4 img5 img6"
                         "img7 img8 img9";
    background-color: antiquewhite;
                                            
}

.models__title{
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;

    
    .models__banner{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.models__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

@for $i from 1 to 10 {
     .models__img#{$i}{
     grid-area:img+$i;
     width: 82%;
     height: 100%;
     object-fit: cover;
    }
}

