@media screen and (max-width: 1024px){

    /*index*/
    
    /*header*/

    .header{
    
            &__a{
                font-size: 1.5em;
                margin: 0 0.8rem;
            }
     }

    /*fin de header*/

    /*main*/

    .main{

        /*section carousel*/

        .carousel{
    
            &__img{
                height: 90vh;
            }
            
        }
        /*fin de section carousel*/
    
        /*section infocard*/
    
        .infocard{

            margin-bottom: 0;
    
            &__h3 {
               padding: 0;
               margin-bottom: 1.5rem;
           }

           &__p{
               font-size: 1.2em; 
           }
        
           &__map{
               padding: 0;
           }
        }
        /*fin de section infocard*/
    }

    /*fin de main*/


    /*fin de index*/

    /*contacto*/

    .contact{

        &__p{
                font-size: 2rem;
        }

        &__p2{
               font-size: 2rem;
        }
     }

    .form-label{
        font-size: 1.5rem;
    }

    /*fin de contacto*/

    /*lentes de contacto*/

    @for $i from 1 to 10 {
        .models__img#{$i}{
        height: 60%;
       }
   }
    
    /*fin de lentes de contacto*/

    /*sol y vista*/

    @for $i from 1 to 10 {
        .lentes__img#{$i}{
        height: 7rem;
        width: 70%;
       }
    }

    /*fin de sol y vista*/

}

@media screen and (max-width: 768px){

    /*index*/

    /*main*/

    .main{

        /*section carousel*/  

        .carousel{

            &__img{
                height: 30rem;
                object-fit: cover;
            }
        
            &__arrow{
                width: 20%;
            }
        }

        /*fin de section carousel*/

        /*section infocard*/
    
        .infocard__container{
    
            .infocard{
            
               &__img{
                   height: 20rem;
               }
            
               &__map{
                   height: 20rem;
                   padding-left: 1.5rem;
               }
            }
        }
        
        /*fin de section infocard*/
    }

    /*fin de main*/

    /*footer*/

    .footer__container{

        height: 26rem;
    
        .footer__title{
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }
        
        .social{
            margin-top: 2rem;

            &__img1{
                height: 7rem;
                width: 7rem;  
            }
            
            &__img2{
                height: 5rem;
                width: 5rem;
            }
        }
    
        .newsletter {
            margin-top: 2rem;

            &__input{
               font-size: .9rem;
            }
        }
        
         .menu {
            margin-top: 2rem;

            &__item{
                margin-bottom: 2.8rem;
            }
        }
    }

    /*fin de footer*/

    /*fin de index*/

    /*contacto*/

    .contact__container{

        .contact{

            &__h1{ 
                padding: 1rem;
                margin-bottom: 1rem!important;
                margin-top: 1rem!important;
            }
            
            &__p{
                font-size: 2rem;
            }
            
            &__p2{
                font-size: 2rem;
            }
        }
    }

    .form-label{
        font-size: 1.5rem;
    }

/*fin de contacto*/

/*lentes de contacto*/

.models__grid{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40vh repeat(4, 1fr);
    grid-template-areas: "titulo titulo"
                         "img1 img2"
                         "img3 img4"
                         "img5 img6"
                         "img7 img8"
                         "img9 img9";
                                         
}

.container--9{

    grid-column: span 2;
    width: 80%;
    height: 80%;
    margin-left: 5rem;
}

/*fin de lentes de contacto*/

/*sol y vista*/

@for $i from 1 to 10 {
    .lentes__img#{$i}{
    height: 100%;
   }
}

.margin--vista{
    margin-bottom: 0;
}

.container--9-s{
    margin-bottom: 3rem;
}

}

@media screen and (max-width: 425px){

    .main{

        /*section carousel*/

        .carousel{

            .p-5{
                padding: 0!important;
            }
        
            &__img{
                height: 15rem;
            }
        }

        /*fin de section carousel*/

        /*section infocard*/

        .infocard__container{

            padding: 0;

            .infocard{
            
                &__h3 {
                    font-size: 1.5rem;
                }
            
                &__img{
                    height: 15rem;
                }
                
                &__p{
                    font-size: 1rem;  
                }
            
                &__map{
                    height: 15rem;
                    padding: 0;
                    width: 100%;
                }
            }
        }

        /*fin de section infocard*/
    }

    /*fin de main*/

    /*footer*/

    .footer__container{
        flex-direction: column;
        height: 100%;
    
        .social{
            margin-top: 1rem;
            width: 100%;

            &__img1{
                height: 5rem;
                width: 5rem;
                margin-bottom: 1rem;
            }

            &__img2{
                height: 4rem;
                width: 4rem;
                margin-bottom: 0;
            }
        }
        
        .newsletter {
            width: 100%;
        
            &__p {
                font-size: 1rem;
            }
        }
        
         .menu {
            width: 100%;
       
            &__item{
               margin: 1rem;
            }
        }
    }

     /*fin de footer*/

     /*fin de index*/

     /*contacto*/

     .contact__container{
        margin-bottom: 1rem;
        height: 50rem;
        align-items: center;

        .contact{
            padding: .5rem;

            &__h1 {
               text-align: center;
               font-size: 2.3rem;
               margin-bottom: 1rem;
           }
        
           &__p{
               font-size: 1.3rem;
           }

           &__p2{
               font-size: 1.3rem;
           }
        }

        .form__container{

            margin-top: 2rem;
            width: 90%;

            .form__label{
                font-size: 1.3rem;
            }

        }
    }

    /*fin de contacto*/

    /*lentes de contacto*/

.models__grid{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "titulo"
                         "img1"
                         "img2"
                         "img3"
                         "img4"
                         "img5"
                         "img6"
                         "img7"
                         "img8"
                         "img9";
                                         
}
.models__title{
    height: 18rem;
}

.models__container{
    width: 85%;
    height: 85%;
    margin: auto;
}

.container--9{
    grid-column: span 1;
}
/*fin de lentes de contacto*/

 /*sol y vista*/

 @for $i from 1 to 10 {
    .lentes__img#{$i}{
    width: 50%;
    height: 30%;
   }
}

.container--9-s{
    height: 16rem;
    margin-bottom: 2rem;
}

/*fin de sol y vista*/

}

