@media screen and (max-width: 1300px){

    .models{

        grid-template-rows: 90vh repeat(3, 40vh);
    }


}


@media screen and (max-width: 1024px){

    .header{
    
            &__a{
                font-size: 1.5em;
                margin: 0 0.8rem;
            }
     }


    .main{

        .carousel{
    
            &__img{
                height: 90vh;
            }
            
        }
    
        .infocard{

            margin-bottom: 0;
    
            &__h3 {
               padding: 0;
               margin-bottom: 1.5rem;
           }

           &__p{
               font-size: 1.2em; 
           }
        
           &__map{
               padding: 0;
           }
        }
    }

    .contact{

        &__p{
                font-size: 2rem;
        }

        &__p2{
               font-size: 2rem;
        }
     }

    .form-label{
        font-size: 1.5rem;
    }

    @for $i from 1 to 10 {
        .lentes__img#{$i}{
        width: 70%;
       }
    }
}

@media screen and (max-width: 768px){

    .header__background{

        position: relative;
    }

    .main{

        .carousel{

            &__img{
                height: 30rem;
                object-fit: cover;
            }

            &__card{
                height: 15rem;
                width: 17rem;
                bottom: 5rem;
                left: 5rem;
                padding: 1rem;
            }

            &__span{
                font-size: $small;
            }
        
            
            &__btn{
                font-size: 1em;
            }
        }

        .infocard__container{
    
            .infocard{
            
               &__img{
                   height: 20rem;
               }
            
               &__map{
                   height: 20rem;
                   padding-left: 1.5rem;
               }
            }
        }
    }

    .footer{

        &__img{
            width: 2rem;
            height: 2rem;
            object-fit: cover;
            margin: 0rem 1rem;
        }

        &__span{
            font-size: 1em;
        }
    }
   

    .form-label{
        font-size: 1.5rem;
    }


.models{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40vh repeat(4, 1fr);
    grid-template-areas: "titulo titulo"
                         "img1 img2"
                         "img3 img4"
                         "img5 img6"
                         "img7 img8"
                         "img9 img9";

     &__card {
        height: 12rem;
        width: 20rem;
        right: 4rem;
        bottom: 3rem;
        padding: 1rem;
    }

    &__card--vista{
        left: 5rem;
    }
    &__card--contacto{

        left: 5rem;
    }
    
    &__h2{
        font-size: 2em;
    }

    &__p{
        font-size: 1.2em;
    }
}



@for $i from 1 to 10 {
    .lentes__img#{$i}{
    height: 100%;
   }
}

.margin--vista{
    margin-bottom: 0;
}

}

@media screen and (max-width: 425px){

    .header__icon{
        padding-left: 0rem;
    }


    .main{
        .carousel{

            &__img{
                height: 30vh;
            }

            &__card{
                visibility: hidden;
            }
        }

        .infocard__container{

            .infocard{
            
                &__h3 {
                    font-size: 1.5rem;
                }
            
                &__img{
                    height: 15rem;
                }
                
                &__p{
                    font-size: 1rem;  
                }
            
                &__map{
                    height: 15rem;
                    padding: 0;
                    width: 100%;
                }
            }
        }
    }

     .contact__container{
        margin-bottom: 1rem;
        height: 50rem;
        align-items: center;

        .contact{
            padding: .5rem;

            &__h1 {
               text-align: center;
               font-size: 2.3rem;
               margin-bottom: 1rem;
           }
        
           &__p{
               font-size: 1.3rem;
           }

           &__p2{
               font-size: 1.3rem;
           }
        }

        .form__container{

            margin-top: 2rem;
            width: 90%;

            .form__label{
                font-size: 1.3rem;
            }
        }
    }


.models{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: "titulo"
                         "img1"
                         "img2"
                         "img3"
                         "img4"
                         "img5"
                         "img6"
                         "img7"
                         "img8"
                         "img9";

    &__card{
         visibility: hidden;
        }

        &__title{
            height: 18rem;
        }
        
        &__container{
            width: 85%;
            height: 85%;
            margin: auto;
        }
    }
                                         


 @for $i from 1 to 10 {
    .lentes__img#{$i}{
    width: 50%;
    height: 30%;
   }
}
}

