/*footer*/

.footer__container{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 115, 0, 0.514);

    &__title{
        font-size: 3rem;
        display: block;
        margin-bottom: 1.5rem;
    }

    .social{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        width: 33%;
        justify-content: space-between;

        &__img1{
            height: 7rem;
            width: 7rem;  
        }
        
        &__img2{
            height: 5rem;
            width: 5rem;
            margin-bottom: 1rem;
        }
    }
    
    .newsletter {
        display: flex;
        flex-direction: column;
        width: 33%;
        align-items: center;
        margin-top: 2rem;

        &__p {
            width: 80%;
            font-size: 1.3rem;
            margin-top: 1rem;
        }
        
        &__form{
               width: 100%;
        }
        
        &__input{
           width: 80%;
           text-align: center;
           display: block;
           margin: 1rem auto;
        }
        
        &__input2{
            font-size: larger;
            width: 80%;
            text-align: center;
            display: block;
            margin: 2rem auto;   
         }
    }
    
    .menu{
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 2rem;
       width: 33%;

       &__list{
        list-style:none;
       }

       &__item{
        margin-bottom: 1.2rem;
        margin-top: .5rem;
       }
       
       &__anchor{
          text-decoration: none;
          font-size: 1.5rem;
          color: black;
       }
       
       &__anchor:hover{
           color: coral;
       }
    }
}

/*fin de footer*/