/*header*/

.navbar{
    background-color: rgba(255, 115, 0, 0.514);

    .header__font {
        font-size: 2rem;
        color: black;
        margin: 0 2rem;
    }

    .header__font:hover{
        color: coral;;
    }

    .header__icon{
        font-size: 3rem;
        font-family: 'Public Sans', sans-serif;
        padding-left: 1rem;
    }

    .header__div{
        flex-grow: 0;
    }

}

/*fin de header*/