/*main*/

.main{
    background-color: antiquewhite;

    .carousel{

        &__slider{
            background-color: black!important;
        }
        
        &__img{
            height: 70rem;
            object-fit: cover;
            position: relative;
        }
    
        &__span{
            position: absolute;
            font-size: 3rem;
        }
    
        &__span--1{
            bottom: 20rem;
            padding: 1rem;
            left: 5rem;
        }
        
        &__span--2{
            bottom: 15rem;
            padding: 1rem;
            left: 5rem;
        }
        
        &__btn{
            position: absolute;
            bottom: 12rem;
            left: 6rem;
            height: 3.5rem;
            width: 17rem;
            font-size: 1.7rem;
        }
    
        &__arrow{
            width: 6%;
        }
    }

    .infocard{
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;

        &__h3{
            padding: 1rem;
            font-size: 3rem;
        }

        &__map{
            padding-left: 1.5rem;
        }
        
        &__img{
            height: 100%;
            width: 95%;
            object-fit: cover;
        }
        
        &__p{
            font-size: 2rem;
            padding: 1rem;
        }
    }

    .infocard:hover{
        background-color: rgba(255, 115, 0, 0.514);
    }
}

/*fin de main*/