@media screen and (max-width: 1024px){

    /*index*/
    
    /*header*/

    .navbar{

        .header{
    
            &__icon{
                font-size: 2rem;
            }
    
            &__font{
                font-size: 1.3rem;
                font-weight: 500;
                margin: 0 0.5rem;
            }
        }
    }

    /*fin de header*/

    /*main*/

    .main{

        /*section carousel*/

        .carousel{
    
            &__img{
                height: 50rem;
            }
            
            &__arrow{
                width: 15%;
            }
        
            &__span{
                visibility: hidden;
             }
         
             &__span--1{
                visibility: hidden;
             }
             
             &__span--2{
                 visibility: hidden;
             }
             
             &__btn{
                 visibility: hidden;
             }
        }
        /*fin de section carousel*/
    
        /*section infocard*/
    
    .infocard__container{

        padding: 1rem 2rem;

        .infocard{

            margin-bottom: 0;
    
            &__h3 {
               font-size: 2rem;
               padding: 0;
               margin-bottom: 1.5rem;
           }
        
           &__img{
               height: 15rem;
               width: 100%;
               object-fit: cover;
           }
           
           &__p{
               font-size: 1.5rem;
           }
        
           &__map{
               padding: 0;
           }
        }
     }
        /*fin de section infocard*/
    }

    /*fin de main*/

    /*footer*/

    .footer__container{
    
        .footer__title{
            font-size: xx-large;
        }
    
        .social{
            margin-top: .7rem;
    
            &__img1{
                height: 5rem;
                width: 5rem;  
            }
            
            &__img2{
                height: 4rem;
                width: 4rem;
                margin-bottom: 3rem;
            }
        }

        .newsletter{

            margin-top: .7rem;
    
            &__p {
                font-size: 1.2rem;
                padding: 0rem .5rem;
            }
            
            &__form{
                height: 7rem;
            }
            
            &__input{
               font-size: larger;
            }
        }
        
        .menu {
           margin-top: .7rem;

           &__nav{
            width: 100%;
           }

           &__item{
            margin-bottom: 1.8rem;
           }
           
           &__anchor{
              font-size: 1.5rem;
           }
        }
    }

    /*fin de footer*/

    /*fin de index*/

    /*contacto*/
    
    .contact__p{
        text-align: center;
        font-size: 2rem;
    }
    .contact__p2{
        text-align: center;
        font-size: 2rem;
    }

    .form-label{
        font-size: 1.5rem;
    }
}

    /*fin de contacto*/