@media screen and (max-width: 425px){

    /*index*/

    /*main*/

    .main{

        /*section carousel*/

        .carousel{

            .p-5{
                padding: 0!important;
            }
        
            &__img{
                height: 15rem;
            }
        }

        /*fin de section carousel*/

        /*section infocard*/

        .infocard__container{

            padding: 0;

            .infocard{
            
                &__h3 {
                    font-size: 1.5rem;
                }
            
                &__img{
                    height: 15rem;
                }
                
                &__p{
                    font-size: 1rem;  
                }
            
                &__map{
                    height: 15rem;
                    padding: 0;
                    width: 100%;
                }
            }
        }

        /*fin de section infocard*/
    }

    /*fin de main*/

    /*footer*/

    .footer__container{
        flex-direction: column;
        height: 100%;
    
        .social{
            margin-top: 1rem;
            width: 100%;

            &__img1{
                height: 5rem;
                width: 5rem;
                margin-bottom: 1rem;
            }

            &__img2{
                height: 4rem;
                width: 4rem;
                margin-bottom: 0;
            }
        }
        
        .newsletter {
            width: 100%;
        
            &__p {
                font-size: 1rem;
            }
        }
        
         .menu {
            width: 100%;
       
            &__item{
               margin: 1rem;
            }
        }
    }

     /*fin de footer*/

     /*fin de index*/

     /*contacto*/

     .contact__container{
        margin-bottom: 1rem;
        height: 50rem;
        align-items: center;

        .contact{
            padding: .5rem;

            &__h1 {
               text-align: center;
               font-size: 2.3rem;
               margin-bottom: 1rem;
           }
        
           &__p{
               font-size: 1.3rem;
           }

           &__p2{
               font-size: 1.3rem;
           }
        }

        .form__container{

            margin-top: 2rem;
            width: 90%;

            .form__label{
                font-size: 1.3rem;
            }

        }
    }

}

     /*fin de contacto*/
